body {
  background-color: brown;
}

nav {
  position: relative;
  display: inline-block;
  justify-content: space-between;
}

.menu {
  justify-content: space-between;
}

p {
  background-color: aqua;
  box-sizing: border-box;
  height: 400px;
  width: 600px;
  margin: auto;
  font-size: large;
}
