body {
  /* display: flex; */
  /* justify-content: flex-start; */
}

nav {
  position: relative;
  display: inline-block;
  justify-content: space-between;
}

.menu {
  justify-content: space-between;
}
