.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

img {
  height: auto;
  max-width: 100px;
}

nav {
  background-color: cyan;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav a {
  text-decoration: none;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  position: relative;
  background-color: cyan;
  padding: 10px;
  height: 100px;
  width: 500px;
  left: 50px;
  box-sizing: border-box;
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: flex-start;
}
