body {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 100px 300px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
} 


fieldset {
  position: relative;
  height: 450px;
  width: 600px; 
  margin: auto;
}


legend {
 border: 1px solid black;
} 

.name {
  text-align: center;
}


.name label {
  position: relative;
  display: block;
  align-items: center;
  background-color: aqua;
  width: 100px;
  margin: auto;
}


.name input {
  position: relative;
  display: block;
  background-color: aquamarine;
  margin: auto;
}


.status, .date {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  left: 200px;
  padding: 5px;
}

.status label, .date label {
  position: relative;
  display: block;
  align-items: center; 
  margin: auto;
  left: 25px
}

.status select, .date input {
  display: block;
  align-items: center;
}

.choose {
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 350px;
}  

.language {
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto;
} 


.comments {
  display: flex;
  flex-direction: column;
}

.comments label {
  position: relative;
  display: block;
  align-items: center;
  background-color: aqua;
  width: 100px;
  margin: auto;
}


.comments textarea {
  position: relative;
  display: block;
  background-color: aquamarine;
  margin: auto;
  padding: 5px;
}

.newsletter {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 5px;
}

.submit {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 36px;
  padding: 30px 60px;
}






